<!DOCTYPE html> 
<html lang ="en"> 
<head> 
        
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'poll/css/style.css' %}">

    <title>Polling App {% block title %}{% endblock %}</title> 
</head> 
  

<body> 
        
<div style = "background: rgb(226, 159, 14)">
    <div class ="container"> 
        <div class ="row"> 
            <div class =".col-md-6 m-auto"> 
                {% block content %}{% endblock %} 
            </div> 
        </div> 
    </div>
</div> 
</body> 
  
</html> 